<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test</display-name>
  <context-param>
  	<param-name>name</param-name>
  	<param-value>gqx</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>123456</param-value>
  </context-param>
  
   <servlet>
  	<servlet-name>HelloWorld</servlet-name>
  	<servlet-class>com.gqxing.test.HelloWorld</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hd</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.gqxing.test.Hello</servlet-class>

  </servlet>
 
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/servlet/Hello</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.gqxing.test.LoginServlet</servlet-class>
  </servlet>
  
 
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  
  </servlet-mapping>
  
  
  
  
  <servlet>
  	<servlet-name>LoginServlet2</servlet-name>
  	<servlet-class>com.gqxing.test.LoginServlet2</servlet-class>
  </servlet>
  
 
  
  <servlet-mapping>
  	<servlet-name>LoginServlet2</servlet-name>
  	<url-pattern>/loginServlet2</url-pattern>
  
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>